# Build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS
.vs/

# VS Code
.vscode/

# Logs
*.log

# Rider IDE
.idea/

# OS files
.DS_Store
Thumbs.db

# NuGet packages and cache
*.nupkg
*.snupkg
.nuget/

# Temporary files
*.swp
*.bak
*.tmp

# Secrets and sensitive configs
appsettings.json